<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/public/css/detail.css">
	<script type="text/javascript" src="/public/js/jquery.js"></script>
	<script type="text/javascript">
	$(function(){
		$('.f_centent .centent').first().show();
		$('.f_list li').on('click',function(){
			var index = $(this).index();
			$('.f_list li').removeClass('active');
			$(this).addClass('active');

			$('.f_centent .centent').hide();
			$('.f_centent .centent').eq(index).show();
		})
	});
	</script>
</head>
<body>
<div class="w1200 mt30 clearfix">
	<div class="d_sider fl">
		<div class="s_block clearfix">
			<div class="tit clearfix">
				<h3 class="fl">店铺精选</h3>
				<span class="ad fr">广告</span>
			</div>
			<ul class="s_list">
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
			</ul>
		</div>
		<div class="s_block clearfix">
			<div class="tit clearfix">
				<h3 class="fl">一周销量榜</h3>
			</div>
			<ul class="s_top">
				<li class="s_li_wrap clearfix">
					<p class="num active">1</p>
					<div class="pic"><img src="/public/img/4.jpg"></div>
					<div class="l_item">
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item_price">¥<span>39.00</span></p>
					</div>
				</li>
				<li class="s_li_wrap clearfix">
					<p class="num">2</p>
					<div class="pic"><img src="/public/img/4.jpg"></div>
					<div class="l_item">
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item_price">¥<span>39.00</span></p>
					</div>
				</li>
				<li class="s_li_wrap clearfix">
					<p class="num">3</p>
					<div class="pic"><img src="/public/img/4.jpg"></div>
					<div class="l_item">
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item_price">¥<span>39.00</span></p>
					</div>
				</li>
				<li class="s_li_wrap clearfix">
					<p class="num">4</p>
					<div class="pic"><img src="/public/img/4.jpg"></div>
					<div class="l_item">
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item_price">¥<span>39.00</span></p>
					</div>
				</li>
			</ul>
		</div>
		<div class="s_block clearfix">
			<div class="tit clearfix">
				<h3 class="fl">浏览此类商品的用户最终买了</h3>
			</div>
			<ul class="s_list">
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
			</ul>
		</div>
		<div class="s_block clearfix">
			<div class="tit clearfix">
				<h3 class="fl">浏览此类商品的用户还购买了</h3>
			</div>
			<ul class="s_list">
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
				<li>
					<div class="pic"><img src="/public/img/3.jpg"></div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="d_main fl">
		<div class="m_block clearfix">
			<div class="tit">
				<h3>本周热销排行榜</h3>
				<a href="#" class="more">更多热门推荐></a>
			</div>
			<ul class='m_list'>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
			</ul>
		</div>
		<div class="m_block clearfix">
			<div class="tit">
				<h3>本周新品推荐</h3>
				<a href="#" class="more">更多热门推荐></a>
			</div>
			<ul class='m_list'>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
			</ul>
		</div>
		<div class="m_block clearfix">
			<div class="tit">
				<h3>当季推荐</h3>
				<a href="#" class="more">更多热门推荐></a>
			</div>
			<ul class='m_list'>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
			</ul>
		</div>
		<div class="m_block clearfix">
			<div class="tit">
				<h3>特惠商品</h3>
				<a href="#" class="more">更多热门推荐></a>
			</div>
			<ul class='m_list'>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
				<li>
					<div class="/public/img_wrap">
						 <img src="/public/img/1.jpg">
					</div>
					<div class="small_img">
						<a href="#" class="active"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a><a href="#"><img src="/public/img/2.jpg"></a>
					</div>
					<div class="l_item">
						<p class="item_price">¥<span>39.00</span><strong>真划算</strong></p>
						<p class="item-name item">
							<a class="emcodeItem item-link" href="#" title="" target="_blank">长虹(CHANGHONG)50A1 50英寸 全高清 10核 阿里智能操作系统 LED电视 内置WiFi</a>
						</p>
						<p class="item-promotional item" title="">
					        【国美在线】长虹爱视TV！阿里智能操作系统YunOS2.O,AAA级面板,高色域值,同轴音频！ 【更多精彩关注长虹旗舰店】
					    </p>
					    <p class="item_dec item clearfix">
							<span class="mes1 fl">21</span>
							<span class="mes2 fr">北京市有货</span>
					    </p>
					    <p class="item_opera clearfix">
							<span class="compare"></span>
							<span class="collection">收藏</span>
							<span class="buy">立即购买</span>
					    </p>
					   
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="w1200 w_tab ">
	<ul class="f_list clearfix">
		<li class="active">热词推荐</li>
		<li>最新评论</li>
		<li>最新资讯</li>
		<li>友情链接</li>
	</ul>
	<div class="f_centent">
		<div class="centent centent_1 clearfix">
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
			<div class='item'>
				<a href="#">红米Note4</a>
				<a href="#">白拿mate9</a>
				<a href="#">199减100</a>
				<a href="#">洗衣机599</a>
				<a href="#">买2付1</a>
				<a href="#">1元夺相机</a>
			</div>
		</div>
		<div class="centent centent_2 clearfix">
			<ul>
				<li>
					<a href="clearfix">
						<sapn class="title">快消百货1元购 国美在线“黑色星期快消百货1元购 国美在线“黑色星期</sapn>
						<span class="from">快消百货1元购 国美</span>
						<span class="nickname">nrroiutt</span>
					</a>
				</li>
				<li>
					<a href="clearfix">
						<sapn class="title">快消百货1元购 国美在线“黑色星期快消百货1元购 国美在线“黑色星期</sapn>
						<span class="from">快消百货1元购 国美</span>
						<span class="nickname">nrroiutt</span>
					</a>
				</li>
				<li>
					<a href="clearfix">
						<sapn class="title">快消百货1元购 国美在线“黑色星期快消百货1元购 国美在线“黑色星期</sapn>
						<span class="from">快消百货1元购 国美</span>
						<span class="nickname">nrroiutt</span>
					</a>
				</li>
				<li>
					<a href="clearfix">
						<sapn class="title">快消百货1元购 国美在线“黑色星期快消百货1元购 国美在线“黑色星期</sapn>
						<span class="from">快消百货1元购 国美</span>
						<span class="nickname">nrroiutt</span>
					</a>
				</li>
				<li>
					<a href="clearfix">
						<sapn class="title">快消百货1元购 国美在线“黑色星期快消百货1元购 国美在线“黑色星期</sapn>
						<span class="from">快消百货1元购 国美</span>
						<span class="nickname">nrroiutt</span>
					</a>
				</li>
				<li>
					<a href="clearfix">
						<sapn class="title">快消百货1元购 国美在线“黑色星期快消百货1元购 国美在线“黑色星期</sapn>
						<span class="from">快消百货1元购 国美</span>
						<span class="nickname">nrroiutt</span>
					</a>
				</li>
				<li>
					<a href="clearfix">
						<sapn class="title">快消百货1元购 国美在线“黑色星期快消百货1元购 国美在线“黑色星期</sapn>
						<span class="from">快消百货1元购 国美</span>
						<span class="nickname">nrroiutt</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="centent centent_3 clearfix">
			<ul>
				<li>
					<a href="#">
						<h4 class="title">快消百货1元购 国美在线“黑色星期</h4>
						<p class="content">亲爱的"一起吧"会员，近期"一起吧"佣金规则将做调整，调整如下：1.自2016年12月1日 0:00起，一起吧将取消三级注册机制，改为记录分享链接获得佣金（您分享商品后，有好友购买并成功妥投，您就可获得佣金）。链接记录时效为48小时，过期后将不会被记录佣金。2.一起吧会员在11月30前获</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h4 class="title">快消百货1元购 国美在线“黑色星期</h4>
						<p class="content">亲爱的"一起吧"会员，近期"一起吧"佣金规则将做调整，调整如下：1.自2016年12月1日 0:00起，一起吧将取消三级注册机制，改为记录分享链接获得佣金（您分享商品后，有好友购买并成功妥投，您就可获得佣金）。链接记录时效为48小时，过期后将不会被记录佣金。2.一起吧会员在11月30前获</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h4 class="title">快消百货1元购 国美在线“黑色星期</h4>
						<p class="content">亲爱的"一起吧"会员，近期"一起吧"佣金规则将做调整，调整如下：1.自2016年12月1日 0:00起，一起吧将取消三级注册机制，改为记录分享链接获得佣金（您分享商品后，有好友购买并成功妥投，您就可获得佣金）。链接记录时效为48小时，过期后将不会被记录佣金。2.一起吧会员在11月30前获</p>
					</a>
				</li>
				<li>
					<a href="#">
						<h4 class="title">快消百货1元购 国美在线“黑色星期</h4>
						<p class="content">亲爱的"一起吧"会员，近期"一起吧"佣金规则将做调整，调整如下：1.自2016年12月1日 0:00起，一起吧将取消三级注册机制，改为记录分享链接获得佣金（您分享商品后，有好友购买并成功妥投，您就可获得佣金）。链接记录时效为48小时，过期后将不会被记录佣金。2.一起吧会员在11月30前获</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="centent centent_4 clearfix">
			<a href="#">满199减100 国美“黑色星期  </a>
			<a href="#">联合营销活动方案</a>
			<a href="#">满199减100 </a>
			<a href="#">满199减100 国美“黑色星期  </a>
			<a href="#">联合营销活动方案</a><a href="#">满199减100 </a>
			<a href="#">满199减100 国美“黑色星期  </a>
			<a href="#">联合营销活动方案</a><a href="#">满199减100 </a>
			<a href="#">满199减100 国美“黑色星期  </a>
			<a href="#">联合营销活动方案</a>
			<a href="#">满199减100 </a>
		</div>
	</div>
</div>
</body>
</html>