<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="/public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/public/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
	<div class="container">
		<p><a href="#" id="registerBox">还没有账号？注册</a><a href="#" id="loginBox">登录</a></p>
		<div class="row">
			<div class="main col-md-8">如同仁堂</div>
			<sider class="sider col-md-4">
				<form class="form-horizontal" role="form" id="sign-form">
				 <div class="form-group">
				    <label for="name" class="col-sm-4 control-label">用户名</label>
				    <div class="col-sm-8">
				      <input type="text" class="form-control" id="name" placeholder="用户名" name="username">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputEmail3" class="col-sm-4 control-label">Email</label>
				    <div class="col-sm-8">
				      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email">
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-4 control-label">密码</label>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password"> 
				    </div>
				  </div>
				  <div class="form-group">
				    <label for="inputPassword3" class="col-sm-4 control-label">确认密码</label>
				    <div class="col-sm-8">
				      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="repassword"> 
				    </div>
				  </div>
				  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-8">
				      <a  class="btn btn-default" id="sign">Sign in</a>
				    </div>
				  </div>
				</form>
				{%if userInfo.id %}
					{%if userInfo.isAdmin %}
						<h1>管理员:{{userInfo.username}}</h1>
						<a href="/admin">点击此处进行管理</a>
					{%else%}
					{%endif%}
					<h1>您好，{{userInfo.username}}</h1>
					<a id="lagout" href="#">退出</a>
				{%else%}
					<form class="form-horizontal" role="form" id="login-form">
					 <div class="form-group">
					    <label for="name" class="col-sm-4 control-label">用户名</label>
					    <div class="col-sm-8">
					      <input type="text" class="form-control" id="name" placeholder="用户名" name="username">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPassword3" class="col-sm-4 control-label">密码</label>
					    <div class="col-sm-8">
					      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" name="password"> 
					    </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-offset-2 col-sm-8">
					      <a  class="btn btn-default" id="login">Sign on</a>
					    </div>
					  </div>
					</form>
				{%endif%}

			</sider>
		</div>
	</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>	
<script type="text/javascript" src="/public/js/index.js"></script>
</body>
</html>